@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

.fadeInOut {
  animation: 1.5s infinite fadeInOut;
}

@keyframes fadeInOut {
  100% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 1) !important;
	background: linear-gradient(#000000 0%, #FFFFFF 100%);
	border-radius: 0px;
}

